<ion-header  class="ion-no-border" >
  <ion-toolbar [color]="color ? color: 'primary'">

    <ion-button class="tema" *ngIf="backButton" slot="start">
      <!-- Cerrar Modal -->
      <ion-button  *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      <!-- Back button -->
      <ion-back-button [defaultHref]="backButton"></ion-back-button>
    </ion-button>

    <ion-title *ngIf="title" [ngClass]="{'ion-text-center': centerTitle}">{{title}}</ion-title>

      <ion-button class="tema" slot="end"  (click)="setTheme(false)" *ngIf="darkMode.value">
        <ion-icon name="sunny-outline"></ion-icon>
      </ion-button>

      <ion-button class="tema" slot="end"  (click)="setTheme(true)" *ngIf="!darkMode.value">
        <ion-icon name="moon-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>
